@import ../../assets/styles.sass

#container
    width: 80%
    max-width: $maxWidth
    margin: 125px auto 20px  
    text-align: justify
    display: grid
    grid-gap: 15px

    ul 
        padding: 0 35px

        li
        list-style-type: circle