@import ../../assets/styles.sass

#outer
  padding: $outerPadding  
  #container
    @include anElementContainer
    
    .jobImage
      width: 80%

    #jobInfo
      @include anElementInfoStyle
      width: 80%

      p
        text-align: justify
        margin: 15px 0

      .jobheaders
        text-align: center
        margin: 0
        font-size: 1.1em
        
      p.projectDescription
        @include descriptionStyle

      .jobFooters
        @include anElementFooter
        
        #jobComments
          @include commentBtnStyle
          