<div id="outer">
    <div id="container">
        <h4>Leave us a message:</h4>
        <!-- <pre>{{msgForm.value | json}}</pre> -->
        <form [formGroup]="msgForm" (ngSubmit)="send(msgForm)">
           
            <div class="inputGroup">
                <label for="name" class="label"> <i class="fa fa-user"></i> </label>
                <input formControlName="senderName" id="name" placeholder="Full Name">
            </div>
            <div class="errMsg" *ngIf="msgForm?.controls.senderName?.errors?.required && msgForm?.controls.senderName?.touched">Name is required!</div>
            <div class="errMsg" *ngIf="msgForm?.controls.senderName?.errors?.pattern && msgForm?.controls.senderName?.touched">Please enter your first and last name starting with capital letter!</div>
            
            <div class="inputGroup">
                <label for="email" class="label"><i class="fas fa-at"></i></label>
                <input formControlName="senderEmail" id="email" placeholder="Email Address" type="email">
            </div>
            <div class="errMsg" *ngIf="msgForm?.controls.senderEmail?.errors?.required && msgForm?.controls.senderEmail?.touched">E-mail is required!</div>
            <div class="errMsg" *ngIf="msgForm?.controls.senderEmail?.errors?.email && msgForm?.controls.senderEmail?.touched">Please enter valid e-mail!</div>
    
            
            <div class="inputGroup">
                <label for="message" class="label"><i class="fas fa-envelope-open-text"></i></label>
                <textarea formControlName="message" name="message" id="message" placeholder="Your message" type="message" cols="80" rows="15"></textarea>
            </div>
            <div class="errMsg" *ngIf="msgForm?.controls.message?.errors?.required && msgForm?.controls.message?.touched">Message is required!</div>
            <div class="errMsg" *ngIf="!!msgForm?.controls.message?.errors?.minlength && msgForm?.controls.message?.touched">Message should be at least 50 characters long!</div>
            
            <div class="formGroup">
                <button type="submit" class="btn" [disabled]="msgForm?.invalid"><i class="far fa-envelope"></i> Send</button>
            </div>
        </form>
    </div>
</div>