@import ../../assets/styles.sass

#listContainer
  text-align: center
  margin: $marginHomeAndList

  #containerheader
    @include headerContainerStyle

    .headerText
      @include listheaderTexts

  #projectList
    @include listContainerStyle

    .project
      @include aListBox
      width: 250px
      height: 300px
      margin: 10px
      display: grid
      grid-gap: 5px
      grid-template-rows: 179px 116px
      
      .prjImage
        max-width: 250px
        max-height: 179px
        border-radius: $borderRadius
        margin: 0 auto
      
      .prjInfo
        padding: 0 15px
        text-align: right
        display: grid
        grid-template-rows: 70px 45px

        .prjCompany
          text-align: center
        
        .prjContact, .prjLocation
          font-size: 0.9em