@import ../../assets/styles.sass
  
#projectContainer
    @include anElementContainer
    margin: 230px auto
    
    .projectImage, #projectInfo
        width:49%
        max-width: 600px
        
    #projectInfo
        @include anElementInfoStyle

        h2.projectheaders
            text-align: center

        p.projectheaders
            text-align: center
            margin: 2px 0

        p.projectFooters
            @include anElementFooter

        p.projectDescription
            @include descriptionStyle

        p:last-of-type
            padding: 6px 0

        p.projectFooters a#projectComments
            @include commentBtnStyle

        p.projectFooters a#projectComments:hover
            cursor: pointer
        p.loc, p.date
            font-style: italic

@media only screen and (max-width: 1080px)
    #projectContainer 
        .projectImage, #projectInfo 
            width: 80%