// body -> bakground-color:#f0f8ff
  
#prjContainer
  width: 90%
  max-width: 700px
  border-radius: 3px
  margin: 15px auto
  text-align: center
  padding: 20px 40px
  box-sizing: border-box
  box-shadow: 0px 0px 13px 1px #009688 inset
  background-color: #fff
  
  .prjImage
    width: 100%

  #projectInfo
    text-align: left

    p
      line-height: 25px
      margin: 15px 0
    .projectHeadings
      text-align: center
      margin: 0
    .projectFooters
      text-align: right
      
      #prjComments
        background-color: #14d014
        color: #fff
        font-weight: bold
        padding: 7px
        border-radius: 3px