@import ../../assets/styles.sass
  
#outer
    padding: $outerPadding
    #container
        @include anElementContainer
                
        .projectImage, #projectInfo
            width:49%
            max-width: 600px
            min-width: 400px
            
        #projectInfo
            @include anElementInfoStyle

            h2.projectheaders
                text-align: center
                font-size: $projectHeaderFontSize

            p.projectheaders
                text-align: center
                margin: 2px 0
                font-size: $projectHeaderFontSize

            p.projectFooters
                @include anElementFooter

            p.projectDescription
                @include descriptionStyle

            p:last-of-type
                padding: 6px 0

            p.projectFooters a#projectComments
                @include commentBtnStyle

            p.projectFooters a#projectComments:hover
                cursor: pointer
            p.loc, p.date
                font-style: italic
                font-size: 0.8em

@media only screen and (max-width: 1080px)
    #outer    
        #container 
            .projectImage, #projectInfo 
                width: 80%
                min-width: 200px