<div id="listContainer" class="container">
  <div id="containerheader">
    <div class="headerBG"></div>
      <h1 class="headerText">All Positions</h1>
      <p class="headerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <pagination-controls (pageChange)="currPage = $event"></pagination-controls>
  <ul id="projectList" *ngIf="prjList">
      <li *ngFor="let prj of prjList | paginate: { itemsPerPage: prjToLoad, currentPage: currPage }">
        <a class="project" routerLink="{{prj.id}}">
          <img class="prjImage" src="../../assets/imgs/search.png" alt="{{prj.title}}"/>
          <div class="prjInfo">
              <p class="prjCompany"><strong>{{prj.title}}</strong></p>
              <div>
                <p class="prjContact"><i>{{prj.companyName}}</i></p>
                <p class="prjLocation"><i>{{prj.locationCity}}</i></p>
              </div>
          </div>
          <p class="publishDate">{{prj.publishDate | date}}</p>
        </a>
      </li>
  </ul>
  <pagination-controls (pageChange)="currPage = $event"></pagination-controls>
</div>