#navContainer
  width: 100%
  height: min-content
  background-color: #d3f7ee

  #nav
    height: 80px
    width: 80%
    max-width: 1024px
    margin: 0 auto
    display: flex
    justify-content: space-between
    
    #logo
      width: 250px
      height: 100%
    
    #menuIcon
      display: none

    #mainMenu
      display: flex

      .mLink
        .links
          display: block
          height: 80px
          width: 100px
          color: #4e4e4e
          text-align: center
          text-decoration: none
          padding-top: 30px
          box-sizing: border-box

@media only screen and (max-width: 960px)
  #navContainer
    #nav
      #mainMenu
        display: none
        
      #menuIcon
        display: block
        font-size: 35px
        padding: 21px

      #menuIcon:hover
        cursor: pointer  