@import ../../assets/styles.sass
  
#navContainer
  width: 100%
  background-color: $headFootBackgroundColor
  position: fixed
  top: 0

  #nav
    height: $headFootHeight
    width: 80%
    max-width: $maxWidth
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    
    #logo
      width: 250px
      min-height: 50%
    
    #menuIcon, .close
      display: none

    #mainMenu
      display: flex

      .mLink
        height: $navLinksHeight
        margin: 16px 0
        padding: 0 5px
        .links
          display: block
          height: $navLinksHeight
          min-width: 80px
          color: #4e4e4e
          text-decoration: none
          padding-top: 15px
          box-sizing: border-box
          text-align: center
      .mLink:hover
        box-shadow: $boxesShadow
        border-radius: $borderRadius
        text-shadow: 0 0 1px #000
        color: #009688
      .close .links i
        grid-column: 1 / span 3
        justify-content: center 
        
.mLink .links
  .iconBox
    width: 25px
    display: inline-block
    justify-self: right
    text-align: right
    margin-right: 3px
  span 
    text-align: left

@media only screen and (max-width: 960px)
  #navContainer
    #nav
      #mainMenu
        display: none
        width: 100%
        position: absolute
        left: 0
        top: 0
        
        .close
          display: inherit
          color: #009688
          font-size: 35px
          padding: 0 6px
          
        .mLink
          background-color: #fff
          text-align: center
          margin: 0
          a.links
            height: 60px
            display: grid
            gap: 5px
            grid-template-columns: repeat(2,1fr)
            justify-content: center
            width: auto
          &.close a.links
            color: #009688
            padding: 6px
          .iconBox
            text-align: center
            margin: 0

      #menuIcon
        display: block
        font-size: 35px
        padding: 21px

      #menuIcon:hover
        cursor: pointer
